#ca {
    background-color: black;
    border: 10px solid blueviolet;
}
#startScreen {
    position: absolute;
    top: 0;
    width: 620px;
    display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 620px;
            background-color: #f0f0f0;
        
}
#startButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
#maincontent {
    display: none;
}
#canvascontainer {
    position: relative;
}